<div class="innerpage">
    <header>
        <h1>Sobre o<br>PhoneGap<br>Bootcamp</h1>
    </header>

    <main>
        <img class="header-image" src="images/about-header.jpg" alt="">
        <p class="highlight">São 2 dias de treinamento intenso sobre Apps Mobile usando Cordova para iOS, Android e BlackBerry 10, focando em Single Page Apps e Performance.</p>
        <p>Vamos passar por todas as etapas de configuração das máquinas (Mac ou Windows), e vamos criar um aplicativo contendo Connection, Alerts, Device Info, Armazenamento Local, Mapa/Geolocalização, Acelerômetro, Contatos do Device, Aplicativo Navegador, Fotos e Dados usando a Cloud (com Parse).</p>
        <p></p>
        </p>
        <img class="header-image" src="images/about-device.jpg" alt="">
        <p class="highlight">Vamos empacotar, instalar e debugar cada aplicativo em um device BlackBerry 10.</p>
    </main>

    <footer>
        <p>Para entrar em contato conosco, visite nossa <a href="https://www.facebook.com/phonegapbootcamp">Página no Facebook</a>
    </footer>
</div>