<div class="innerpage">
    <header>
        <h1 ng-if="isPortuguese" ng-bind-html="pageItems.title.ptLabel">
            </ng-bind-html>
        </h1>
        <h1 ng-if="isEnglish" ng-bind-html="pageItems.title.enLabel">
            </ng-bind-html>
        </h1>
    </header>

    <main>

        <div ng-repeat="instructor in pageItems.instructors">
            <img class="header-image" ng-src="{{instructor.picture}}" alt="">
            <p class="highlight"><strong>{{instructor.name}}</strong><br>{{instructor.title}}<br>Twitter: <a href="{{instructor.twitterURL}}" target="_blank">{{instructor.twitterName}}</a></p>
            <p ng-if="isPortuguese">{{instructor.bio.ptLabel}}</p>
            <p ng-if="isEnglish">{{instructor.bio.enLabel}}</p>
            <p>&nbsp;</p>
        </div>

    </main>

    <footer></footer>
</div>