<!DOCTYPE HTML>
<html>

<head>
    <title>PhoneGap Bootcamp</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="stylesheet" type="text/css" href="bower_components/snapjs/snap.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/snapjs/snap.js"></script>
    <script type="text/javascript" src="bower_components/fastclick/lib/fastclick.js"></script>
    <script type="text/javascript" src="js/angularextras/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/MainMenuController.js"></script>
    <script type="text/javascript" src="js/controller/AboutController.js"></script>
    <script type="text/javascript" src="js/controller/AgendaController.js"></script>
    <script type="text/javascript" src="js/controller/DatesLocationsController.js"></script>
    <script type="text/javascript" src="js/controller/DurationController.js"></script>
    <script type="text/javascript" src="js/controller/InstructorsController.js"></script>
    <script type="text/javascript" src="js/controller/PhotosController.js"></script>
    <script type="text/javascript" src="js/controller/PrerequisitsController.js"></script>
    <script type="text/javascript" src="js/controller/QuotesController.js"></script>
    <script type="text/javascript" src="js/controller/RegistrationController.js"></script>
    <script type="text/javascript" src="js/controller/TalktousController.js"></script>
    <script type="text/javascript" src="js/controller/TargetController.js"></script>
    <script type="text/javascript" src="js/controller/VideosController.js"></script>
</head>

<body>
    <div ng-app="app">
        <div ng-controller="AppController">
            <div class="snap-drawers">
                <div class="snap-drawer snap-drawer-left">
                    <ul id="list-menu-left" ng-controller="MainMenuController">
                        <li ng-repeat="item in mainMenuItems">
                            <a ng-click="gotoSection(item.clickRoute)">
                                <span class="glyphicon {{item.icon}}"></span>
                                <p ng-if="isPortuguese">{{item.labelPortuguese}}</p>
                                <p ng-if="isEnglish">{{item.labelEnglish}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="snap-drawer snap-drawer-right"></div>
            <div id="content" class="snap-content">
                <ng-view></ng-view>
                <div id="toolbar">
                    <a ng-click="openSnapper()">
                        <span class="glyphicon glyphicon-open-left"></span>
                    </a>
                    <h1>PhoneGap Bootcamp</h1>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
