// sass variables 
$main-app-color:#288ac7;
$main-menu-selected-color:#195b84;
$main-font-color: white;
$main-font-name:'Roboto Light';
$main-font-location: '../fonts/Roboto/Roboto-Light.ttf';
$font-icons-name: 'Glyphicons Halflings';
$font-icons-location: '../fonts/Glyph/glyphicons-halflings-regular';
$toolbar-height: 50px;

// handle selection on touch

html,
body {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* for android */
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    webkit-user-select: none
}

input,
textarea {
    user-select: text
}

// fonts faces

@font-face {
    font-family: $main-font-name;
    src: url($main-font-location)
}

@font-face {
    font-family: $font-icons-name;
    src:url(#{$font-icons-location}.eot);
    src:url(#{$font-icons-location}.eot?#iefix) format('embedded-opentype'),
    url(#{$font-icons-location}.woff) format('woff'),
    url(#{$font-icons-location}.ttf) format('truetype'),
    url(#{$font-icons-location}.svg#glyphicons_halflingsregular) format('svg')
}

// main content area

#content {
    background: #d1d1d1
}

#scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - #{$toolbar-height});
}

// toolbar inside content area

#toolbar {
    position: fixed;
    background-color: $main-app-color;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: $toolbar-height;
}

#toolbar h1 {
    font-family: $main-font-name;
    font-size: 15px;
    color: $main-font-color;
    margin: 0;
    text-align: center;
    padding-top: 14px;
    line-height: 22px;
    margin-left: 20px
}

#toolbar a {
    cursor: pointer
}

// glyph icons

.glyphicon {
    position: absolute;
    font-family: $font-icons-name;
    line-height: 1;
    font-size: 20px;
    color: $main-font-color;
    width: 50px;
    height: 50px;
    padding-top: 15px;
/*    background-color: cyan;*/
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

// additions to snapjs snap.css

.snap-content {
    overflow-x: hidden;
    overflow-y: auto;
    background: #d8d8d8
}
.snap-drawers {
    background: $main-app-color
}
.snap-drawer-left {
    background-color: $main-app-color;
    font-family: $main-font-name
}

.menu-item-selected {
    background-color: $main-menu-selected-color
}

.snap-drawer-left li {
    cursor: pointer
}

.snap-drawer-left li:hover {
    background-color: $main-menu-selected-color
}

.snap-drawer-left ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}
.snap-drawer-left li p {
    font-size: 15px;
    color: $main-font-color;
    margin: 0;
    text-indent: 45px;
    padding: 15px
}
.snap-drawer-left li > a {
    display: block;
    height: 50px;
    text-indent: 15px;
    text-decoration: none
}

// glyphicon contents

.glyphicon-open-left:before {
    content: "\e055"
}
.glyphicon-select:before {
    content: "\e055"
}
.glyphicon-about:before {
    content: "\e118"
}
.glyphicon-quotes:before {
    content: "\e111"
}
.glyphicon-instructors:before {
    content: "\e008"
}
.glyphicon-agenda:before {
    content: "\e032"
}
.glyphicon-duration:before {
    content: "\e023"
}
.glyphicon-registration:before {
    content: "\e084"
}
.glyphicon-prerequisits:before {
    content: "\e137"
}
.glyphicon-target:before {
    content: "\e165"
}
.glyphicon-dateslocations:before {
    content: "\e109"
}
.glyphicon-videos:before {
    content: "\e009"
}
.glyphicon-photos:before {
    content: "\e046"
}
.glyphicon-talktous:before {
    content: "\2709"
}

// inner pages
.innerpage {
    // background-color: green;
    padding:0 30px;
}
.innerpage h1 {
    font-size: 50px;
    line-height: .8;
    letter-spacing: -2px; 
}




